In [2]:
import os
import pandas as pd
import csv

csvpath = "../parking-citations.csv"

with open(csvpath, newline='') as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')

    print(csvreader)

    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

<_csv.reader object at 0x000001A01494B6C8>
CSV Header: ['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time', 'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style', 'Color', 'Location', 'Route', 'Agency', 'Violation code', 'Violation Description', 'Fine amount', 'Latitude', 'Longitude']

In [3]:
file = "../parking-citations.csv"
violations_df = pd.read_csv(file)
violations_df.head()

C:\Users\madel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [4]:
violations_df.describe()

,Issue time,Marked Time,Plate Expiry Date,Agency,Fine amount,Latitude,Longitude
count,9.149713e+06,302937.000000,8.315710e+06,9.151876e+06,9.145597e+06,9.152448e+06,9.152448e+06
mean,1.201837e+03,1055.520356,1.872249e+05,5.199459e+01,7.012290e+01,5.515342e+06,1.590543e+06
std,4.733818e+02,227.334047,5.205391e+04,9.347935e+00,3.213979e+01,2.963743e+06,2.020136e+06
min,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+01,9.999900e+04,9.999900e+04
25%,9.110000e+02,910.000000,2.016020e+05,5.100000e+01,6.300000e+01,6.421759e+06,1.821893e+06
50%,1.154000e+03,1036.000000,2.017030e+05,5.400000e+01,6.800000e+01,6.451849e+06,1.842072e+06
75%,1.509000e+03,1200.000000,2.018050e+05,5.500000e+01,7.300000e+01,6.475075e+06,1.858208e+06
max,2.359000e+03,2400.000000,9.201020e+05,9.700000e+01,5.050000e+02,4.042322e+09,4.042322e+09

In [9]:
violations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9152451 entries, 0 to 9152450
Data columns (total 19 columns):
Ticket number            object
Issue Date               object
Issue time               float64
Meter Id                 object
Marked Time              float64
RP State Plate           object
Plate Expiry Date        float64
VIN                      object
Make                     object
Body Style               object
Color                    object
Location                 object
Route                    object
Agency                   float64
Violation code           object
Violation Description    object
Fine amount              float64
Latitude                 float64
Longitude                float64
dtypes: float64(7), object(12)
memory usage: 1.3+ GB

In [12]:
violations_df['Color'].unique()

array(['GY', 'WH', 'BK', 'BL', 'BR', 'SI', 'GO', nan, 'RE', 'MA', 'TA',
       'BU', 'GR', 'YE', 'OR', 'WT', 'RD', 'SL', 'BN', 'OT', 'GN', 'MR',
       'BG', 'PR', 'TN', 'UN', 'PK', 'TU', 'CO', 'BE', 'RU', 'PU', 'PL',
       'CR', 'SN', 'PE', 'BZ', 'PI', 'ME', 'CH', 'TE', 'LI', 'MU', 'KH',
       'GA', 'AQ', 'WI', 'OL', 'SA', 'KA', 'RS', 'CL', 'TP', 'PW', 'SU',
       'CP', 'UT', 'SH', 'OG', 'UK', 'VI', 'BW', 'RV', 'YL', 'TW', 'GD',
       'DA', 'W', 'BC', 'TL', 'MY', 'EF', 'WE', 'AU', 'WR', 'WA', 'AM',
       'GL', 'RA', 'BI', 'BA', 'ES', 'LA', 'PP', 'GE', 'VA', 'LE', 'CA',
       'SV', 'BH', 'AP', 'VO', 'VU', 'SM', 'TR', 'O', 'R', 'IN', 'MN',
       'IV', 'MP', 'AD', 'MD', 'SO', 'CU', 'MC', 'MI', 'MO', 'BD', 'EG',
       'LP'], dtype=object)

In [16]:
violations_df['RP State Plate'].value_counts()

CA    8524570
AZ      81518
TX      57975
NV      54390
FL      39917
WA      36146
IL      26070
OR      25577
CO      23302
NY      17006
PA      13436
UT      13042
MI      12871
OH      12584
NJ      12264
GA      12260
TN      11905
IN      11801
VA      11016
MA       9843
MO       9470
MD       9389
OK       9200
NC       9059
MN       8895
NM       8647
MX       7720
LA       6777
WI       6163
CT       5478
       ...
RI       1372
DC       1342
AK       1211
SD       1207
DE       1012
ND        972
VT        850
QU        782
WV        732
DD        504
US        433
FN        385
NB        183
CN        175
MB        159
SA        152
XX        134
NS         71
CZ         37
VI         35
GU         26
PR         23
PE         19
NW         18
TT         18
AS         17
NF         14
YU         10
|           2
ML          1
Name: RP State Plate, Length: 78, dtype: int64

In [18]:
violations_df['RP State Plate']

AttributeError: 'Series' object has no attribute 'info'

In [25]:
violations_df['Marked Time'].value_counts

800.0     15695
900.0      4585
1100.0     4559
1000.0     4509
830.0      3872
930.0      3859
1130.0     3457
1030.0     3430
1110.0     3042
1115.0     2888
1040.0     2860
1050.0     2844
1055.0     2810
1045.0     2745
815.0      2724
1020.0     2710
820.0      2699
945.0      2698
805.0      2646
940.0      2622
1145.0     2603
1200.0     2541
1120.0     2521
840.0      2507
1015.0     2504
955.0      2453
920.0      2444
845.0      2441
950.0      2416
1105.0     2410
          ...
2026.0        1
2024.0        1
2023.0        1
2327.0        1
1657.0        1
253.0         1
344.0         1
2142.0        1
2236.0        1
342.0         1
2232.0        1
2226.0        1
332.0         1
331.0         1
2318.0        1
328.0         1
2225.0        1
2221.0        1
2215.0        1
2212.0        1
314.0         1
313.0         1
2210.0        1
2201.0        1
307.0         1
2159.0        1
302.0         1
301.0         1
2144.0        1
2316.0        1
Name: Marked Time, Length: 1226, dtype: int64

In [5]:
#droppping any row that has a null value gives us no rows

clean_vio_df = violations_df.dropna(how="any")
clean_vio_df.count()

Ticket number            0
Issue Date               0
Issue time               0
Meter Id                 0
Marked Time              0
RP State Plate           0
Plate Expiry Date        0
VIN                      0
Make                     0
Body Style               0
Color                    0
Location                 0
Route                    0
Agency                   0
Violation code           0
Violation Description    0
Fine amount              0
Latitude                 0
Longitude                0
dtype: int64

In [28]:
grouped_vio_df = violations_df.groupby(['Violation Description']).count()
grouped_vio_df.head(10)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Fine amount,Latitude,Longitude,Date_Clean
Violation Description,,,,,,,,,,,,,,,,,,,
08062,1,1,1,0,0,1,1,0,1,1,1,0,1,1,1,0,1,1,1
11201B,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,0,1,1,1
12003A,1,1,1,0,0,1,0,0,1,0,1,1,1,1,1,0,1,1,1
1221A8B,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,0,1,1,1
12500A,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,0,1,1,1
12500C,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,0,1,1,1
12500H,3,3,3,0,0,3,3,0,3,3,3,3,3,3,3,0,3,3,3
134200,1,1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,1,1
146011,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,0,1,1,1
146011A,2,2,2,0,0,2,2,0,2,2,2,2,2,2,2,0,2,2,2

In [21]:
#clean time

violations_df['Date_Clean'] =violations_df['Issue Date'].str.slice(0, 10)
#violations_df.head()

#prepping set for violations by percentages

vio_type_df = violations_df[['Date_Clean', 'Violation code', 'Violation Description', 'Fine amount']].sort_values(by=['Date_Clean'])
vio_type_df.head()

         Date_Clean Violation code Violation Description  Fine amount
107223   2010-01-09          80732       EXCEED 72 HOURS          NaN
8770002  2010-01-09          5204A          EXPIRED TAGS         25.0
6868664  2010-02-03           8606       PK OTSD PSTD AR          NaN
4826069  2010-03-09           8603       PK IN PROH AREA          NaN
786475   2010-04-27            011                22500F          NaN

In [25]:
vio_type_df['Violation Description']

107223                    EXCEED 72 HOURS
8770002                      EXPIRED TAGS
6868664                   PK OTSD PSTD AR
4826069                   PK IN PROH AREA
786475                             22500F
2109415                    WRG SD/NOT PRL
898468                           RED ZONE
7574789                NO EVIDENCE OF REG
1063545                        NO PARKING
1013018              NO PARK/STREET CLEAN
2285648                          RED ZONE
1106345                      EXPIRED TAGS
7735583                              5200
5606557                             22514
2593517              NO PARK/STREET CLEAN
3893459                          RED ZONE
2992110                          RED CURB
6167407                      PREF PARKING
3975608                  NO STOP/STAND PM
8396400                        WHITE CURB
8351333                  NO STOP/STAND PM
4100874                        WHITE CURB
6165437                        NO PARKING
8336456                            22502A
8360085              NO PARK/STREET CLEAN
6166842                        WHITE ZONE
8449466                   PK IN PROH AREA
8588481              PARK IN GRID LOCK ZN
8748136                      EXPIRED TAGS
173009                           RED ZONE
                        ...
8759527              NO PARK/STREET CLEAN
8759528              NO PARK/STREET CLEAN
8761467                          RED ZONE
8761529              NO PARK/STREET CLEAN
8761555              PREFERENTIAL PARKING
9040462    NO STOPPING/ANTI-GRIDLOCK ZONE
9051207              NO PARK/STREET CLEAN
9051212              NO PARK/STREET CLEAN
9051266              NO PARK/STREET CLEAN
9051271                        WHITE ZONE
9051279              NO PARK/STREET CLEAN
9051327              NO PARK/STREET CLEAN
9051328              NO PARK/STREET CLEAN
9051418              NO PARK/STREET CLEAN
9051423                   EXCEED 72HRS-ST
9051424                        METER EXP.
9051495                          RED ZONE
9051836              NO PARK/STREET CLEAN
9051875              OFF STR/OVERTIME/MTR
9052003                          RED ZONE
9052193              PREFERENTIAL PARKING
9052194                        METER EXP.
9052282                   DISPLAY OF TABS
9052499              NO PARK/STREET CLEAN
9052581              NO PARK/STREET CLEAN
9052584                        METER EXP.
9052585              NO PARK/STREET CLEAN
9061802              NO PARK/STREET CLEAN
9061803              NO PARK/STREET CLEAN
9145349                        METER EXP.
Name: Violation Description, Length: 9152451, dtype: object